* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html,
body,
.sections-container,
.section-two {
    width: 100%;
} */


body {
    width: 100%;
    margin: auto;
    background-color: #000;
}

p, a, i, h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

li a {
    text-decoration: none;
}

.menu {
    width: 80%;
    height: 90px;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-left ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-right ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdown-content li,
.dropdown-content2 li,
.dropdown-content3 li,
.dropdown-content4 {
    display: none;
    margin: 1px solid #fff;
}

.arrow {
    display: flex;
    gap: 8px;
    align-items: center;
}

.estimate {
    width: 100%;
    height: 70px;
    background-color: #0078d4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.learn.blue {
    display: flex;
    align-items: center;
    gap: 8px;
}

.section-one {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.s1-box1 {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

button {
    padding: 12px 40px;
    border: none;
    margin-right: 28px;
}

button.white {
    background-color: #fff;
}

button.blue {
    background-color: #0078d4;
}

button.white a {
    color: #000;
}

button a {
    text-decoration: none;
}

.s2-box1 {
    position: relative;
    width: 100%;
}
