* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html,
body,
.sections-container,
.section-two {
    width: 100%;
} */


body {
    width: 100%;
    margin: auto;
    background-color: #191919;
}

p, a, i, h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

li a {
    text-decoration: none;
}

.menu {
    width: 80%;
    height: 90px;
    margin: auto;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-left ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-right ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dropdown-content li,
.dropdown-content2 li,
.dropdown-content3 li,
.dropdown-content4 {
    display: none;
    margin: 1px solid #fff;
}

.arrow {
    display: flex;
    gap: 8px;
    align-items: center;
}

.estimate {
    width: 100%;
    height: 70px;
    background-color: #0078d4;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.learn.blue {
    display: flex;
    align-items: center;
    gap: 8px;
}

.section-one {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

.s1-box1 {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

button {
    padding: 12px 40px;
    border: none;
    margin-right: 28px;
}

button.white {
    background-color: #fff;
}

button.blue {
    background-color: #0078d4;
}

button.white a {
    color: #000;
}

button a {
    text-decoration: none;
}

.section-two {
    margin: auto;
}

.section-two h3 {
    text-align: center;
    font-size: 28px;
    margin: 100px auto 60px auto;
}

.s2-sum {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 80%;
    margin: auto;
}

.s2-sumbox {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.s2-sumbox img {
    width: 50px;
    margin-bottom: 20px;
}

.learn {
    width: 400px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

video {
    margin: 100px auto;
}

.s2-box1 {
    position: relative;
    width: 100%;
}

.s2-box1-1 {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 45px;
}

.s2-minibox {

}

.s2-minibox img {
    width: 75px;
}

.s2-minibox h4 {
    font-size: 28px;
    margin: 50px 0 36px 0;
}

.s2-minibox > p {
    margin: 60px 0 80px 0;
}

.learn.white {
    width: 250px;
    background-color: #fff;
    padding: 20px 50px;
    margin: 80px 0;
}

.learn.blue {
    width: 250px;
    background-color: #0078d4;
    padding: 16px 60px;
    margin: 80px 0;
}

.learn.blue a {
    margin: auto;
    text-decoration: none;
    font-weight: 700;
}

.learn.white a {
    margin: auto;
}

.learn.white a p,
.learn.white i {
    color: #000;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.centered p {
    display: inline;
}

.percentage p {
    color: #bb46bd;
}

.percentage p:first-of-type {
    font-size: 60px;
}

.watch {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 700;
}

.watch a {
    text-decoration: none;
}

.section-three,
.section-four {
    width: 80%;
    margin: auto;
}

.s3-boxcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 80px;
}

.s3-box h1 {
    margin-top: 32px;
    font-size: 36px;
}

.s3-box {
    width: 600px;
    /* border: 1px solid #fff; */
    padding: 24px;
}

.s3-box > p {
    margin: 16px 0;
}

.s3-box .learn {
    margin-top: 32px;
}

.s3box img {
    width: 800px;
}

.s4-boxcontainer {
    display: flex;
}

.s4-box {
    width: 700px;
    margin: 10px auto;
    text-align: center;
}

.section-four h1,
.section-five h1 {
    margin: 100px auto 72px auto;
    text-align: center;
}

.s4-box img {
    width: 500px;
    height: 300px;
}

.s4-box h2 {
    margin: 32px 0;
}

.link {
    margin: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 700;
}

.section-five {
    width: 80%;
    margin: auto;
}

.customers {
    display: flex;
    flex-wrap: wrap;
}

.customers-container {
    margin-bottom: 80px;
}

.customers img {
    padding: 25px 80px;
}

.footer-container {
    width: 80%;
    margin: auto;
    border-top: 2px solid rgb(82, 78, 78);
}

.socials {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 120px 0;
}

.socials i {
    font-size: 32px;
}

.socials-left,
.socials-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-columns-container {
    display: flex;
    justify-content: space-between;
}

.footer-column a {
    display: block;
    flex: 1;
    margin: 24px 0;
    text-decoration: none;
    font-size: 14px;
}

.footer-infos {
    display: flex;
    justify-content: space-between;
    margin: 60px 0 32px 0;
}

.footer-infos a,
.footer-infos p {
    text-decoration: none;
    font-size: 12px;
    margin: 0 12px;
}

.footer-infos-left a {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer-infos-right {
    display: flex;
    /* border: 1px solid #fff; */
}

.fa.fa-globe {
    font-size: 24px;
}